@font-face {
  src: url('../fonts/ValorantFont.ttf');
  font-family: "Valorant";
}

$main-color: rgba(0, 0, 0, 0.75);
$accent-color: #c40a18;
$font-color: white;
$team-color: #e5e5e5;

body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background: transparent;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  color: $font-color;
  text-shadow: 2px 2px 3px DimGray;
  font-family: "Valorant";

  .scoreboard {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .wrappers {
    position: absolute;
    width: 348px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    top: 32px;
    font-size: 30px;
    opacity: 0;

    .teams {
      color: $team-color;
    }
  }

  #p1Wrapper {
    left: 456px;
  }

  #p2Wrapper {
    left: 1116px;
  }

  .scores {
    position: absolute;
    width: 41px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    top: 34px;
    -webkit-text-stroke: 1px black;
    font-size: 34px;
    opacity: 0;
  }

  #p1Score {
    left: 395px;
  }

  #p2Score {
    left: 1485px;
  }

  #round {
    position: absolute;
    width: 210px;
    height: 36px;
    left: 856px;
    line-height: 36px;
    text-align: center;
    font-size: 22px;
    opacity: 0;
  }

  .logos {
    width: 240px;
    height: 140px;
    position: absolute;
    left: 840px;
    top: 910px;
    opacity: .7;
    display: none;
  }

  #gameHold {
    display: none;
  }

  #roundBG {
    background-color: $main-color;
    outline: 1px solid $accent-color;
    width: 240px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 840px;
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.6));
    transform: perspective(100px) rotateX(-18deg);
  }

  .round-animation {
    animation-name: slidedown;
    animation-duration: 0.26s;
  }

  .BGWrapper {
    width: 430px;
    height: 45px;
    position: absolute;
    top: 2px;
  }

  #leftBGWrapper {
    left: 390px;
  }

  #rightBGWrapper {
    left: 1105px;
  }

  .playerBG {
    background-color: $main-color;
    outline: 1px solid $accent-color;
    width: 375px;
    height: 100%;
    position: absolute;
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.6));
  }

  .scoreBG {
    background-color: $accent-color;
    outline: 1px solid black;
    width: 49px;
    height: calc(100% - 4px);
    position: absolute;
    top: 2px;
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.6));
  }

  #p1PlayerBG {
    left: 50px;
    transform: skewX(20deg);
  }

  .player1-animation {
    animation-name: player1slidein;
    animation-duration: 0.26s;
  }

  #p1ScoreBG {
    transform: skewX(20deg);
  }

  .p1s-animation {
    animation-name: p1score;
    animation-duration: 0.26s;
  }

  #p2PlayerBG {
    transform: skewX(-20deg);
  }

  .player2-animation {
    animation-name: player2slidein;
    animation-duration: 0.26s;
  }

  #p2ScoreBG {
    left: 375px;
    transform: skewX(-20deg);
  }

  .p2s-animation {
    animation-name: p2score;
    animation-duration: 0.26s;
  }
}

/* Animation CSS */
@keyframes slidedown {
  from {
    top: -40px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1.0;
  }
}

@keyframes player1slidein {
  from {
    width: 90px;
    opacity: 0;
  }
  to {
    width: 375px;
    opacity: 1.0;
  }
}

@keyframes player2slidein {
  from {
    /* Using margins here isn't ideal but as the animation isn't playing that many times it should be alright. */
    margin-right: 340px;
    opacity: 0;
  }
  to {
    margin-right: 55px;
    opacity: 1.0;
  }
}

@keyframes p1score {
  from {
    left: 375px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1.0;
  }
}

@keyframes p2score {
  from {
    left: 0px;
    opacity: 0;
  }
  to {
    left: 375px;
    opacity: 1.0;
  }
}
